name: Version
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.2.0
                    
      - name: Generate changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3.18.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-message: "chore(release): {version}"
          preset: "angular"
          tag-prefix: "v"
          output-file: "CHANGELOG.md"
          skip-version-file: "true"
          skip-on-empty: "true"
          skip-commit: "false"
                         
      - name: Create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:     
          if: ${{ steps.changelog.outputs.skipped == 'false' }}
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ steps.changelog.outputs.tag }}
          prerelease: false
          title: ${{ steps.changelog.outputs.tag }}
          files: |
            LICENSE
            */*.cmd
            */*.sh
            
      - name: Discord notification
        uses: rguillaume/discord-action-embed@v1.0.4
        with:
          webhook: ${{ secrets.UPDATES_WEBHOOK }}
          embed: '{"title": "Update: ${{ github.event.repository.name }}", "description": ${{ toJSON(github.event.head_commit.message) }}, "footer": {"text": "Committer: ${{ github.event.head_commit.author.username }}"}, "color": "1"}'
